body {
  font-family: "Roboto", sans-serif;
  height: 100vh;
  margin: 0;
  background-color: #f9faf8;
  padding: 0px;
}
.container {
  background-color: #1f2937;
  padding: 0;
  padding-bottom: 100px;
}
a {
  text-decoration: none;
  color: white;
}
li {
  list-style: none;
}
.header {
  background-color: #1f2937;
  padding: 0px 20px;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 100px;
  justify-content: space-evenly;
}
.header div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header div ul {
  display: flex;
  gap: 25px;
}

.header div div h1 {
  font-size: 24px;
  color: #f9faf8;
}

.hero-section {
  /* outline: 1px red solid; */
  display: flex;
  gap: 80px;
}

.hero-section div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 500px;
}
.hero-section div div h1 {
  font-size: 48px;
  font-weight: bolder;
  margin-bottom: 0px;
  color: #f9faf8;
}
.hero-section div p {
  color: #e5e7eb;
  font-size: 18px;
}

.hero-section div button {
  background-color: #3882f6;
  padding: 10px 30px;
  color: white;
  font-weight: 700;
  border: none;

  border-radius: 5px;
}

.wrapper {
  /* outline: 1px red solid; */
  background-color: #1f2937;
  max-width: 1380px;
  margin: 0 auto;
}

.main {
  background-color: #f9faf8;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  /* margin-top: 150px; */
  gap: 50px;
  padding-top: 50px;
  padding-bottom: 80px;
}

.main div h1 {
  font-size: 36px;
  font-weight: bolder;
}

.cards {
  display: flex;
  gap: 70px;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 200px;
  text-align: center;
  color: #5a616e;
}

.card div img {
  outline: none;
  border: 3px solid #3882f6;
  border-radius: 10px;
  flex-shrink: 0;
}
.quote-section {
  background-color: #e5e7eb;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  padding-top: 70px;
  padding-bottom: 40px;
}
.quote-section div p {
  max-width: 800px;
  font-size: 36px;
  font-weight: 200;
  font-style: italic;
  margin-top: 0;
  padding: 0;
  text-align: justify;
}

.author {
  text-align: end;
}
.sign-up-section {
  display: flex;
  justify-content: center;
  padding: 80px;
}
.main-two {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
  background-color: #3882f6;
  color: #f9faf8;
  padding: 0px 90px 20px 90px;
  border-radius: 10px;
}

.main-two div h4 {
  padding: 0;
  margin-bottom: 0;
  font-size: 25px;
}

.main-two div p {
  padding: 0;
  margin-top: 0;
}

.main-two div button {
  background-color: #3882f6;
  padding: 6px 30px;
  color: white;
  font-weight: 700;
  border: 3px solid white;
  border-radius: 5px;
}
.footer {
  background-color: #1f2937;
  padding: 20px;
}

.wrap p {
  color: #e5e7eb;
  text-align: center;
}
